@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
:root {
  --primary-light: #e9ebed;
  --primary-light-hover: #dee0e3;
  --primary-light-active: #bbc0c6;
  --primary-normal: #253347;
  --primary-normal-hover: #212e40;
  --primary-normal-active: #1e2939;
  --primary-dark: #1c2635;
  --primary-dark-hover: #161f2b;
  --primary-dark-active: #111720;
  --primary-darker: #0d1219;
  
  --accent-light: #edf6fb;
  --accent-light-hover: #e4f2f9;
  --accent-light-active: #cbe4f4;
  --accent-normal: #4da8da;
  --accent-normal-hover: #4597c4;
  --accent-normal-active: #3e86ae;
  --accent-dark: #3a7ea4;
  --accent-dark-hover: #2e6583;
  --accent-dark-active: #234c62;
  --accent-darker: #1b3b4c;

  --text-light: #fcfdfd;
  --text-light-hover: #fafbfc;
  --text-light-active: #f5f7f9;
  --text-normal: #e0e6ed;
  --text-normal-hover: #cacfd5;
  --text-normal-active: #b3b8be;
  --text-dark: #aabdc2;
  --text-dark-hover: #868a8e;
  --text-dark-active: #65676b;
  --text-darker: #4e5153;

    --ginda-light: #f9e7f1;
  --ginda-light-hover: #f6dbe9;
  --ginda-light-active: #ecb6d2;
  --ginda-normal: #c1126f;
  --ginda-normal-hover: #ae1064;
  --ginda-normal-active: #9a0e59;
  --ginda-dark: #910e53;
  --ginda-dark-hover: #740b43;
  --ginda-dark-active: #570832;
  --ginda-darker: #440627;

    --red-light: #ffebf0;
  --red-light-hover: #ffe1e8;
  --red-light-active: #ffc1cf;
  --red-normal: #ff3864;
  --red-normal-hover: #e6325a;
  --red-normal-active: #cc2d50;
  --red-dark: #bf2a4b;
  --red-dark-hover: #99223c;
  --red-dark-active: #73192d;
  --red-darker: #591423;

    /* Variables base */
    --base-unit: 4px; /* Tamaño base de la escala */
    --base-font-size: 16px; /* Tamaño de fuente base */
    --line-height: 1.6; /* Altura de línea base */
  
    /* Variables para tamaños de fuente */
    --font-size-small: calc(var(--base-font-size) * 0.75); /* 12px */
    --font-size-medium: calc(var(--base-font-size) * 1); /* 16px */
    --font-size-large: calc(var(--base-font-size) * 1.25); /* 20px */
    --font-size-xl: calc(var(--base-font-size) * 1.5); /* 24px */
    --font-size-xxl: calc(var(--base-font-size) * 1.75); /* 28px */
    --font-size-xxxl: calc(var(--base-font-size) * 2); /* 28px */
    --font-size-xxxxl: calc(var(--base-font-size) * 2.25); /* 28px */
  
    /* Variables para espacios */
    --spacing-xs: calc(var(--base-unit) * 4); /* 16px */
    --spacing-sm: calc(var(--base-unit) * 8); /* 32px */
    --spacing-md: calc(var(--base-unit) * 12); /* 48px */
    --spacing-lg: calc(var(--base-unit) * 16); /* 64px */
    --spacing-xl: calc(var(--base-unit) * 24); /* 96px */
    --spacing-xxl: calc(var(--base-unit) * 32); 
    --spacing-xxxl: calc(var(--base-unit) * 38); /* 128px */

}

.rubik-font{
  font-family: "Rubik Glitch", sans-serif;
}