.carousel_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    justify-items: space-around;
    align-items: center;
    align-content: center;
    height: 80vh;
    position: relative;
    z-index: 1000;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    
   width: 99vw;
}

.carousel {
    height: min-content;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(216, 216, 216);
    background-color: transparent !important;
    height: 50vh;
    width: 40%;

}
.tech_title{
    color: var(--text-normal);
    font-size: 2.2vw;

  }
  .tech_subtitle{
    color: var(--text-dark);
    font-size: 1.8vw;
    font-weight: 900;
  }
.section_title{
    color: var(--accent-light);
    align-self: flex-start;
    font-size: 3vw;
    text-align: start;
    margin-bottom: 4%;
    margin-left: 3vw;
}
  

@media (max-width: 950px) {
    .tech_title{
        margin-top: 6vh;
        font-size: 6.5vw;
    }
    .tech_subtitle{
        margin-top: 1vh;
        font-size: 4.5vw;
        font-weight: 900;
    }
    .section_title{
        font-size: 5.8vw;
    }
}

