.tech_card {
  display: flex;
  padding: 50px;
  width: 55vw;
  overflow-x: hidden;
}
.icon_image{
    width: 200px;
    height: 200px;
    margin-right: 2vw;
}
.cardSectionBig{
display: flex;
flex-direction: column;
align-items: flex-start;
max-width: 50%;
}

.title{
color: var(--text-light);
font-size: 1.5vw;
text-align: start;
}
.subtitle{
color: var(--text-normal-active);
font-size: 1vw;
text-align: start;
}
.description{
color: var(--text-light);
font-size: 0.9vw;
overflow: hidden;
max-width: 100%; /* Ensures text doesn't exceed container width */
word-wrap: break-word; /* Allows words to break */
overflow-wrap: break-word; /* Ensures long words break */
white-space: normal;
text-align: start;
}
