.carousel_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    justify-items: space-around;
    align-items: center;
    align-content: center;
    height: 80vh;
    position: relative;
    z-index: 1000;
    text-align: center;
    padding: 5vh;
}

.carousel {
    height: min-content;
    max-width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(216, 216, 216);
    background-color: transparent !important;
    height: 50vh;
    width: 40%;
    margin-right: 6vw;
}
.tech_title{
    color: var(--text-normal);
    font-size: 1.2vw;
  }
  .tech_subtitle{
    color: var(--text-light);
    font-size: 1.2vw;
  }
.section_title{
    color: var(--accent-light);
    align-self: flex-start;
    font-size: 2.5vw;
    text-align: start;
    margin-bottom: 4%;
}
  



