.tech_card {
  display: flex;
  width: max-content;
  max-width: 95vw;
  padding-left: 3vw;
  padding-right: 3vw;
}
.icon_image{
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
.cardSectionBig{
display: flex;
flex-direction: column;
align-items: flex-start;
width: 60%;
min-width: 300px;
}

.title{
color: var(--text-light);
font-size: 1.8vw;
text-align: start;
}
.subtitle{
color: var(--text-normal-active);
font-size: 1vw;
text-align: start;
max-width: 75%;
 /* Ensures text doesn't exceed container width */
min-width: 80px;
word-wrap: break-word; /* Allows words to break */
overflow-wrap: break-word; 
margin-bottom: 10px;
}
.description{
color: var(--text-light);
font-size: 0.9vw;
overflow: hidden;
max-width: 75%;
 /* Ensures text doesn't exceed container width */
min-width: 80px;
word-wrap: break-word; /* Allows words to break */
overflow-wrap: break-word; /* Ensures long words break */
white-space: normal;
text-align: start;
}


@media (max-width: 950px) {
  .cardSectionBig{
    width: 50%;
  }
  .icon_image{
    width: 100px;
    height: 100px;
    margin-right: 2vw;
}
.title{
    font-size: 5.5vw;
}
.subtitle{
  max-width: 70%;
    font-size: 3.5vw;
}
.description{
  max-width: 70%;
  font-size: 4.5vw;
}
}