.manifest{
  height: 65vh;
  width: 80vw;
  z-index: 1000;
  background-color: var(--primary-dark);
  border-radius: 5%;
  display: flex;
  padding: 20px;
  overflow: hidden;
  max-width: 1200px;
}

.content {
    width: 60%;
    height: 95vh;
    background-color: var(--color-adjacent1-dark);
    border: solid 5px var(--color-adjacent1-darker);
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    transition: opacity 2.5s ease-out, transform 1.5s ease-out;
}
.image{
  padding: 1vw;
  width: 40%;
  height: 75%;
  align-self: center;
}
.img{
  width: 99%;
  height: 99%;
  border-radius: 10%;
  object-fit: cover;
}
.statements{
    width: 100%;
    text-align: start;
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    height: 60%;
}

.title{
    color: var(--text-light-active);
    font-size: 3vw;
}
.subtitle{
    color: var(--text-dark);
    font-size: var(--font-size-xxl);
    margin-bottom: auto;
}
.text{
    color: var(--text-light-hover);
    font-size: var(--font-size-large);
    text-align: justify;
}

@media (max-width: 1500px) {
  .image{
    padding: 2vw;
    width: 45%;
    height: 75%;
    align-self: center;
  }
  .img{
  width: 99%;
  height: 99%;

}
  .content {  
      width: 55%;
      height: 65vh;
  }
  .statements{
    padding: 0px;
    height: 80%;
  }
}           
@media (max-width: 950px) {

} 

@media (max-width: 750px) {
  .statements{
    padding: 0px;
    width: 100%;
    text-align: center;
  }
  .image{
    padding: 2vw;
    width: 45%;
    height: 75%;
    align-self: center;
  }
.manifest{
  flex-direction: column;
  justify-content: center;
}
.content{
  width: 100%;
  margin-top: 0;
}
.title{
  font-size: 4vw;
}
.subtitle{
  color: var(--text-dark);
  font-size: 3vw;
  margin-bottom: auto;
}
.text{
  font-size: 2vw;
  text-align: justify;
}
}